*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: rgb(37, 37, 37);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}

.list-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.list img{
    width: 20px;
}

.logo img{
    width: 100px;
    margin-left: 15px;
}

.menu{
    width: 350px;
    color: #fff;
}

.menu ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu ul li{
    list-style: none;
    font-size: 10px;
    margin: 22px;
}

button{
    background: #efefef;
    height: 15px;
    width: 28px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin-left: -150px;
}

.active{
    background: green;
}

button span{
    display: block;
    background: #999;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-left: 2px;
}

.lamp-container{
    position: absolute;
    top: -20px;
    left: 180px;
    width: 90px;
}

.lamp{
    width: 100%;
}

#light{
    position: absolute;
    top: 97%;
    left: 44.3%;
    transform: translateX(-50%);
    width: 350px;
    opacity: 0;
}

.text-container{
    max-width: 350px;
    margin-top: 5%;
    margin-left: 50%;
    color: #fff;
}

.text-container h1{
    font-size: 40px;
    line-height: 50px;
    font-weight: 500;
}

.text-container p{
    font-size: 10px;
    margin-top: 5px;
}

.text-container a{
    font-size: 10px;
    text-decoration: none;
    background: #00986f;
    padding: 7px 20px;
    display: inline-block;
    color: #fff;
    font-size: 10px;
    margin-top: 30px;
    border-radius: 30px;
}

.control{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;
}

.control .line{
    width: 150px;
    height: 4px;
    background: #fff;
    margin: 0 10px;
    border-radius: 2px;
}

.control .line span{
    width: 50%;
    height: 4px;
    border-radius: 2px;
    background: #00986f;
    display: block;
}